
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.Im{
  height:500px;  
  object-fit: cover;
  width: 340px;
  
}
#oa {
  width:340px;
}
#seg2{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
#n1 {
  text-align: left;
  font-size: 15px;
  
}
#r1 {
  font-size: 15px;
  margin:0;
  
}
#d1 {
  text-align:left;
  font: size 10px;
  display: flex;
}

